* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: darkslateblue;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  border-radius: 1rem;
  width: 20rem;
  height: 400px;
  border: 2px solid white;
}
.card-img {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.card-img-item {
  width: 17rem;
  height: 200px;
  background-color: grey;
  border-radius: 1rem;
}
